h1 {
  text-align: center;
  padding: 10px 20px;
  font-size: 48px;
  color: #096579;
  font-family: "Poppins", sans-serif;
  margin-top: 15px;
}

.CardBody {
  background-color: white;
  margin: 30px auto;
  width: 80%;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  border-color: #6bb0b7;
  border-style: solid;
  box-shadow: 5px 5px 20px #6bb0b7;
  max-width: 100%;
}
