.Cards .card.inner {
  border-radius: 15px;
  width: 450px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-color: #074259;
  border-style: solid;
  box-shadow: 5px 5px 20px #096579;
}
