.container.search {
  width: 70%;
  display: block;
  margin: 0 auto;
  padding: 30px;
  border-color: white;
  border-style: solid;
  box-shadow: 5px 5px 20px #ed9b7d;
  border-radius: 5px;
  margin-top: 20px;
}

.SearchForm .search {
  text-align: center;
}

.SearchForm .button {
  border-radius: 7px;
  box-shadow: 5px 5px 10px #ed9b7d;
  background-color: #a84a28;
  color: white;
  transition: all 200ms ease-in-out;
  margin: 0 10px;
}

.SearchForm .button:hover {
  background-color: white;
  color: #a84a28;
}

.SearchForm .current-button {
  border-radius: 7px;
  box-shadow: 5px 5px 10px #ed9b7d;
  background-color: white;
  color: #a84a28;
  transition: all 200ms ease-in-out;
}

.SearchForm .current-button:hover {
  background-color: #a84a28;
  color: white;
}

.Cards .todayCard {
  border-radius: 15px;
  width: 60%;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 50px;
  border-color: #6bb0b7;
  border-style: solid;
  padding: 0 20px;
}
