h3 {
  font-family: "Rajdhani", sans-serif;
  color: #074259;
  font-size: 22px;
  font-weight: bold;

  margin-bottom: 20px;
}

h4 {
  text-align: left;
  color: #074259;
  font-family: "Rajdhani", sans-serif;
  text-transform: capitalize;
  margin-bottom: 15px;
  font-size: 26px;
}

a {
  color: #074259;
  text-decoration: underline;
  background-color: transparent;
}

.float-left {
  float: left;
  display: block;
}

.card-title {
  text-align: center;
  font-size: 44px;
  color: #074259;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

#current-temp {
  text-align: center;
  font-size: 86px;
  color: #074259;
  font-family: "Rajdhani", sans-serif;
  margin-top: 50px;
  padding-right: 8px;
}

.temperature {
  color: #6bb0b7;
  text-decoration: none;
}

.temperature:hover {
  text-decoration: underline;
}

.active {
  color: #074259;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  color: #074259;
  text-decoration: none;
}

.units {
  position: relative;
  top: -40px;
}

.weather-info {
  text-align: center;
  font-size: 16px;
  color: #074259;
  font-family: "Rajdhani", sans-serif;
  margin-top: 20px;
  list-style: none;
  font-style: italic;
}

#weather-icon canvas {
  display: block;
  margin: 0 auto;

  margin-bottom: 20px;
}
