h3 {
  font-family: "Rajdhani", sans-serif;
  color: #074259;
  font-size: 22px;
  font-weight: bold;

  margin-bottom: 20px;
}

h4 {
  text-align: left;
  color: #074259;
  font-family: "Rajdhani", sans-serif;
  text-transform: capitalize;
  margin-bottom: 15px;
  font-size: 26px;
}

a {
  color: #074259;
  text-decoration: underline;
  background-color: transparent;
}

.todayCard {
  background-color: white;
}

.card-title {
  text-align: center;
  font-size: 56px;
  color: #074259;
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
}

.weather-info {
  text-align: center;
  font-size: 16px;
  color: #074259;
  font-family: "Rajdhani", sans-serif;
  margin-top: 35px;
  list-style: none;
  font-style: italic;
  padding-left: 10px;
}

#weather-icon canvas {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
