.temp {
  text-align: center;
  font-size: 86px;
  color: #096579;
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  margin-right: 10px;
}

.units {
  position: relative;
  top: -40px;
  color: #074259;
}

.float-left {
  float: left;
  display: block;
}
