h3 {
  font-family: "Rajdhani", sans-serif;
  color: #074259;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

h4 {
  text-align: left;
  color: #074259;
  font-family: "Rajdhani", sans-serif;
  text-transform: capitalize;
  margin-bottom: 15px;
  font-size: 26px;
}

a {
  color: #074259;
  text-decoration: underline;
  background-color: transparent;
}

.card-title {
  text-align: center;
  font-size: 56px;
  color: #074259;
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
}

.weather-info {
  text-align: center;
  font-size: 16px;
  color: #074259;
  font-family: "Rajdhani", sans-serif;
  margin-top: 35px;
  list-style: none;
  font-style: italic;
  padding-left: 10px;
}

#weather-icon canvas {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.temp {
  text-align: center;
  font-size: 86px;
  color: #096579;
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  margin-right: 10px;
}

.units {
  position: relative;
  top: -45px;
  color: #074259;
  font-size: 20px;
}

.float-left {
  float: left;
  display: block;
}

@media (max-width: 768px) {
  #weather-icon canvas {
    margin-bottom: 10px;
  }

  .weather-info {
    font-size: 14px;
    padding-left: 0;
    text-align: center;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
  }

  h4 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
  }

  .card-title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .temp {
    font-size: 64px;
    margin-right: 10px;
    margin-left: 60px;
  }
}
