.card.forecast-card {
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
  max-width: 100%;
  border: 1px solid black;
  box-shadow: 5px 5px 20px grey;
}

.forecast-row {
  padding: 10px 10px;
}

.forecast-temp {
  text-align: center;
  font-size: 14px;
  color: #074259;
  font-family: "Rajdhani", sans-serif;
  display: inline;
  justify-content: space-evenly;
}

#forecast-temp-max {
  font-weight: bolder;
  margin-right: 5px;
  margin-left: 13px;
}

#forecast-temp-min {
  opacity: 0.7;
  margin-left: 5px;
}

canvas {
  display: block;
  margin: 0 auto;
}

.day-name {
  font-family: "Rajdhani", sans-serif;
  color: #074259;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
